In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('data/FCS_2016_ICPSR/ICPSR_36962/DS0001/36962-0001-Data.tsv', delimiter='\t')
data

C:\Users\Admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (46,163,164,337,342,419,420,445,446,447,486) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,USSCIDN,ABUSHI,ACCAP,ACCCAT,ACCGDLN,ACCOFFLV,ACCTRESP,ADJL_BHI,ADJL_CHI,ADJL_DHI,...,WGT6,WGT7,WGT8,WGT9,XCRHISSR,XFOLSOR,XMAXSOR,XMINSOR,YEARS,ZONE
0,2282001,0,0,,1,,-3,A,A,A,...,,,,,3,17,37,30,1,D
1,2282067,0,0,,1,,-2,A,,,...,,,,,2,6,7,1,4,B
2,2282068,0,0,,1,,-2,A,,,...,,,,,1,6,6,0,3,A
3,2282102,0,0,,1,,-3,A21,,,...,,,,,3,21,57,46,5,D
4,2282108,0,0,,1,,0,A,A,A,...,,,,,1,30,121,97,5,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67737,2374291,0,0,,2,,-3,E,A,A,...,,,,,1,14,21,15,7,D
67738,2374397,0,0,,1,,-3,A,A,B1E,...,,,,,1,32,151,121,5,D
67739,2374402,0,0,,1,,-2,,,,...,,,,,1,12,16,10,2,C
67740,2374407,0,0,,,,-3,A,C,A,...,,,,,3,24,78,63,3,D
67741,2374876,,,,8,,,,,,...,,,,,,,,,6,

In [37]:
list1 = [46,163,164,337,342,419,420,445,446,447,486]
counter = 0
for i in data.columns:
    if counter in list1:
        print(i)
    counter += 1

AGE
DOBMON
DOBYR
POOFFICE
PROBDUM
SENSPLT0
SENTIMP
TIMSERVC
TIMSERVM
TIMSERVD
YEARS